<div class="row">
	<div class=" col-3 m-5">
		<div class="row">
			<img src="~/img/anime.png" class="img-fluid"/>
		</div>
		<div class="row mt-1">
			<a class="btn btn-info" asp-action="Filter" asp-controller="Anime">Аниме</a>
		</div>
	</div>
</div>