<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<meta charset="utf-8"/> 
		<link rel="stylesheet" asp-href-include="~/lib/bootstrap/css/*.min.css" />

		<title>Home</title>
	</head>
<body>
<header class="py-2 bg-light border-bottom">
	@await Component.InvokeAsync("Header")
</header>
<div class="container">
	@RenderBody()
	<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>