@model AnimeIndexViewModel

<div class="row mt-5">
	<div class="col-9">
		<div class="row">
			<div class="col-7">
				<div page-model=@Model.PagingInfo></div>
			</div>
			<div class="col-5">
				<div class="row">
					<div class="col-auto ms-2">
						Сортировать по
					</div>
					<div class="col-6">
						<div sorting-model=@Model.SortingInfo></div>
					</div>
				</div>
			</div>
		</div>
		
		@foreach (var anime in Model.Anime)
		{
			@await Html.PartialAsync("AnimeView", anime)
		}
		<div page-model=@Model.PagingInfo></div>
	</div>
	<div class="col-3">
		
	</div>
</div>

		
	


